.center{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New";
}

.pad{
    padding: 0px 450px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New";
    color: #666666; 
}
